{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h1>AI-Powered Healthcare System</h1>
    <p>
        This project integrates <b>Generative AI</b>, <b>Agentic AI</b>, and <b>DevOps</b>
        to provide intelligent healthcare insights.
    </p>

    <ul>
        <li>🧠 GenAI → Generates medical report</li>
        <li>🤖 Agentic AI → Creates treatment plan</li>
        <li>⚙️ DevOps → Deployable & scalable system</li>
    </ul>

    <a href="/generate" class="btn">Try Now</a>
</div>

{% endblock %}